<div class="shipping-form">
  <button (click)="logout()" class="logout-button">Logout</button>

  <h2>Shipping Details</h2>
  <form (ngSubmit)="placeOrder()">
    <label for="address">Address:</label>
    <input type="text" id="address" [(ngModel)]="address" name="address" required>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" [(ngModel)]="phone" name="phone" required>
    <label for="paymentMethod">Payment Method:</label>
    <select id="paymentMethod" [(ngModel)]="paymentMethod" name="paymentMethod">
      <option value="gpay">GPay</option>
      <option value="creditCard">Credit Card</option>
      <option value="debitCard">Debit Card</option>
      <option value="paypal">PayPal</option>
    </select>
    <div class="order-summary">
      <h3>Order Summary</h3>
      <p>Total Price: {{ total | currency:'INR' }}</p>
    </div>
    <button type="submit">Place Order</button>
  </form>
</div>
