.order-history {
    margin: 20px;
  }
  
  .order {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-item img {
    max-width: 50px;
    margin-right: 10px;
  }
  